* {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

section {
	color: white;
	font-size: large;
	font-weight: bold;
}

.parallax {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	justify-content: center;
	flex-direction: column;
	text-align: center;
	display: flex;
}

#first-picture {
	background-image: url(peacock.webp);
}

#box {
	background-color: black;
	height: 200px;
}

#second-picture {
	background-image: url(peacock-feathers.jpg);
}