* {
	margin:0;
	height: 100%;
	width: 100%;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: black;
	border-color: black;
	border-radius: 5px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	
	justify-content: center;
	align-items: center;
	display: flex;
	
	padding-inline: 20px;
	width:fit-content;
	height: 50px;
}
